*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
:root{
  --primary-color: #ee0db2;
  --lila: #b053d2;
  --pink: #a686a3;
  --light-color: #F2EFDF;
  --light: #e9dae6;
}

a{
  color: white;
  text-decoration: none;
}

body{
  background-image: url(https://images.prismic.io//intuzwebsite/d394de11-2b7f-4a72-a3e0-c876f7356a40_Main.png?w=1200&q=75&auto=format,compress&fm=png8);  
  background-size: 1440px 830px;
  background-repeat: no-repeat;
}
h1,h2,h3{
  font-size: 3rem;
  background: linear-gradient(to right, var(--primary-color), var(--lila));
  -webkit-background-clip : text;
  -webkit-text-fill-color: transparent;
  margin-right: 700px;
}
.btn{
  background-color: var(--primary-color);
  color: white;
  transition: all 1s ease-in-out;
  margin-right: 400px;
 
}

#btnCheck{
  translate: 20%;
}
#btnDice{
  translate: -150%;
}
.btn:hover{
  background-color: var(--lila);
  color: white;
}
#emailInput {
  margin-right: 800px; 
}
#mailFormBtns {
  margin-right: 400px; 
}
#mailResult button {
  margin-right: 500px; 
}


/* sezione mail e game */

.no-opacity{
    opacity: 0;
    transition: all 1s;
}
/* mailSection */
#diceGame h4{
    color: var(--primary-color);
}
#dice-details>h4{
    scale: 1.5;
}
#diceBtns {
  margin: right 200px;
}
#dice-details {
  text-align: left;
margin-right: 700px;
}
  